HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
*.svg

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.project
.settings/
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings/

/spring-javaformat-intellij-idea-plugin-0.0.27.jar
